

header{
    background-color: grey;
    display: flex; 
}
.header__form{
    display: flex;
    justify-content: space-between;   
}
.project{
    color: orange;
    margin: 25px;
}
span{
    color: orange;
}
.number{
    color: white;
    margin-top: 25px;
    padding-right: 30px;
}
.img-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.one__cont{
    position: absolute;
    top: 184px;
    left: 134px;
    right: 627px;
    bottom: 408px;
}
h1{
    color: white;
    size: 40px;
    text-transform: uppercase;
}
.btn__one{
    color: white;
    background-color: rgb(237, 200, 131);
}
.btn__two{
    color: white;
    background-color: gray;
}
p{
    color: white;
    size: 22px;
    padding: 20px;
    margin-bottom: 20px;
}
.two{
    background-color: black;
}
.two__img{
    width: 679px;
    height: 483px;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 150px;
}
h2{
    color: orange;
    text-align: center;
}
.par{
    text-align: center;
}
h3{
    color: orange;
}
.info-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}
.area{
    width: 257px;
    height: 100px;
}
.cam{
  background-color: black;  
  width: 33px;
  height: 28px; 
  margin-left: 600px;
}

.three-head{
    text-align: center;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}.img-block1{
    width: 817px;
    height: 434px;
    padding-left: 309px;
}
.info-three{
    color: black;
    text-align: center;
    width: 681px;
    height: 131px;
    padding-left: 377px;
    padding-top: 20px;
}
form{
    display: flex;
    justify-content: right;
    gap: 15px;
    width: 769px;
    height: 51px;
}
.three-btn{
    width: 200px;
    height: 51px;
    border-radius: 2px;
    background-color: orange;
    color: white;
}
.inst{
    width: 114px;
    height: 28px;
    margin-left: 660px;
    margin-bottom: 15px;
}
.four__img-block{
    width: 392px;
    height: 421px;
    object-fit: cover;
    position: relative;
}
.four__redecorating{
    position: absolute;
    margin-top: 350px;
    margin-left: 50px;
    background-color: white;
}
.types{
    color: black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.redecorating{
    color: black;
    font-size: 25px;
}
.four__list{
    line-height: 20px;
}
.price{
    color: white ;
    background-color: orange;
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;

}
.four__info{
    display: flex;
    flex-direction: column;
}
.four__price{
    display: flex;
    width: 240px;
    height: 30px;
}
.four__info-block{
    display: grid;
    margin-bottom: 200px;
    margin-left: 500px;
}

.seven{
    background-color: grey;
}
.seven-adress{
    color: black;
    text-align: center;
}
.seven-logo{
    margin-top: 30px;
    margin-left: 670px;
}
.card{
    margin-left: 200px;
}
